body {
    margin: 0;
    background: black;
  }

  @font-face{
    font-family:'digital-clock-font';
    src: url('./assets/digital-7.mono.ttf');
   }
   @font-face{
    font-family:'casio-logo';
    src: url('./assets/eurostile.TTF');
   }